html {
}

body {
	/*font-family: 'Open Sans', sans-serif;*/
    padding-top: 50px;
}

nav {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
}

h1,h2,h3 {
    font-family: 'Arvo', serif;
}

.pageTitle {
  border-bottom: 3px solid orange;
  /*margin-bottom: 1em;*/
}



