html {
  
}

body {
	background-color: #F3FBFE;
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3 {
    font-family: 'Arvo', serif;
}

.navbar {
	background-color: #F3FBFE;
}

a {
	color: #005555;
}

.inputtxt {
	width: 100%;
}

.username {
	margin-left: 40px;
}

.newRoom {
	background-color: white;
	text-decoration: none;
	margin-left: 40px;
}

.newRoom:hover {
	background-color: black; 
	
}

.newRoom:hover a {
	color: white;
	text-decoration: none;
}

.login-buttons-dropdown-align-right {
  float: right;
}

.pageTitle {
  border-bottom: 3px solid orange;
  //margin-bottom: 1em;
}